<div class="main-container">
  <app-navbar></app-navbar>
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="header-nav">
          <!-- <div class="col-12 nav-text"> -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">ABOUT US</li>
            </ol>
          </nav>
          <!-- </div> -->
        </div>

      </div>
      <div class="row">
        <div class="col-md-8 text-right subnav">
          <div class="sub-breadcumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">HOME</a></li>
                <li class="breadcrumb-item"><a routerLink="/about">ABOUT US</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="container-fluid">
          <div class="container justify">

            <!-- <div class="col-md-12 col-sm-12"> -->
              <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.10s">About Kingdom Support
                Initiatives(KSI)</h5>
            <!-- </div> -->
            <p class="text-muted animated slideInLeft" data-wow-delay="0.16s">
              Kingdom Support Initiatives is a God-ordained commission for <strong><i>raising</i></strong> God-centred
              generation who will
              impact the world with the new life that is in Jesus Christ. Through our initiatives, we reaffirm God-
              consciousness in our everyday life and create platforms for disciples to connect, interact and strengthen
              one another to grow in God. Like Aaron and Hur who held Moses’ hands, we <strong><i>hold others’ hands by
                  servicing</i></strong> kingdom projects, ideas and callings through diverse opportunities. <br>
              <br />
              KSi started in 2014 with our daily devotional and subsequently Kingdom Life Summit. We are a team of
              God-loving brethren whom God has called and earnestly pray, ‘Thy kingdom come and Thy will be done
              on earth as it in heaven’ (Matthew 6:10).
              <br />
              <br />
              At Kingdom Support Initiatives (KSi), we are called to:<br />
              Service God’s bride to build a generation that truly know God.
              Support kingdom partners in the execution of their God given ideas to impact the world.
              <br />
              <br />
              <strong>
                Slogan:
              </strong> raising a God-conscious this generation


            </p>
            <div>
                <h4>Our Key Initiatives</h4>
                <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.20s">‘In His Footstep’</h5>

                <p class="text-muted animated slideInLeft" data-wow-delay="0.24s">
                  ‘In His Footstep’ is a daily devotional designed for readers who wants to build a continuous
                  relationship
                  with God. Through the word of God and the power of the Holy Spirit, the devotional seeks to help
                  readers draw closer to God daily and raise a God-conscious generation.
                  </p>

                </div>
                <br/>
              <div class="">
                  <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.10s">Inspire Impact</h5>
                  <!-- <br /> -->
                  <div class="text-muted animated slideInLeft">
                    It is a podcast in the making to encourage and inspire God’s children to be bold and pursue whatever
                    God is directing them to do. We believe as Christians, we are to make impact and make heaven, that’s
                    what we do!
                  
                  </div>
              </div>
              <br/>
              <div class="">
                  <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.14s">Kingdom Life Summit</h5>
                  <!-- <h4 class="my-4 font-weight-bold">Heading</h4> -->
                  <div class="text-muted animated slideInLeft" data-wow-delay="0.18s">
                    It is an annual retreat to refresh, re-evaluate and re-strategize in God’s presence. At the retreat,
                    we
                    spend time to pray, seek counsel from one another on God’s kingdom projects for the coming year.
                    Since 2015, Kingdom Life Summit holds at the Redemption Camp in Nigeria.
    
                  </div>
              </div>
                  
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <app-footer></app-footer>
  <!--/.Footer-->
</div>