<!-- Toolbar -->
<div class="" role="">

    <!-- app navigation bar -->
    <app-navbar></app-navbar>
</div>

<div class="" role="main">

    <main class="">
        <!-- main hero begining -->
        <div role="main" class="container-hero main-hero  text-center">
            <h1 class="main-hero-text">Kingdom Support Initiatives</h1>
            <p class="spacer"></p>
            <p class="mission-text">
                ...servicing and supporting God’s bride for a generation that genuinely know God
            </p>
            <p class="caption-text">
                <button class="btn btn-primary btn-sm " routerLink="/about">Read More...</button>
            </p>


            <div class="scroll-down">
                <p class="icon-wp" [ngx-scroll-to]="'footer'">
                    <svg viewBox="0 0 24 24" height="25" fill="#fff">
                        <path d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z" />
                    </svg>
                </p>
            </div>
        </div>
        <!-- main here end -->

        <!-- section one beginging -->
        <section class="container-fluid section-two section-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 description-section">
                        <h3>In His Foot Step</h3>
                        <div class="spacer"></div>
                        <p class="text-muted">
                            We at KSI is a mandate to see that through 'In His Footstep’ people will experience a daily
                            & continuous
                            relationship with God. Through the word of God
                            and the power of the Holy Spirit.
                        </p>
                        <div class="read-more">
                            <button class="btn btn-primary btn-lg">Read More</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 img-section"> <img src="../assets/img/KSI ICON 10.svg"  class="img-responsive img">
                    </div>  
                </div>
            </div>
        </section>
        <!-- section one end -->

        <!-- section one beginging -->
        <section class="container-fluid section-one section-row">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-xs-12 swap-section img-section"> <img src="../assets/img/KSI ICON 3.svg"
                            class="img-responsive img">
                    </div>

                    <div class="col-md-6 col-xs-12 swap-section  description-section">
                        <h3>Inspire Impact</h3>
                        <div class="spacer"></div>
                        <p class="text-muted">
                            We have an amazing set of a podcast to encourage and inspire God’s children to be bold and
                            pursue whatever
                            God is laying upon their hearts
                        </p>
                        <div class="read-more">
                            <button class="btn btn-primary btn-lg">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section one end -->

        <!-- section one beginging -->
        <section class="container-fluid section-two section-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 description-section">
                        <h3>Kingdom Life Summit</h3>
                        <div class="spacer"></div>
                        <p class="text-muted">
                            <!-- Well, without prayers we are powerless in the face of our enemy. We believe that we pray to unstop until we've results -->
                            Wondering how to refill your oil? well, we have an annual retreat for you to refresh,
                            re-evaluate and
                            re-strategize in God’s presence.
                        </p>
                        <div class="read-more">
                            <button class="btn btn-primary btn-lg">Read More</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 img-section"> <img src="../assets/img/KSI ICON 1.svg"
                            class="img-responsive img">
                    </div>
                </div>
            </div>
        </section>
        <!-- section one end -->

        <!-- section one beginging -->
        <section class="container-fluid section-one section-row">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-xs-12 description-section">
                        <h3>Get Involved</h3>
                        <div class="spacer"></div>
                        <p class="text-muted">
                            Well, if you are looking for a place that you can affect lives, KSI is one of them. if this
                            sounds cool to
                            you go ahead and fill the form and we will reach out to you ASAP.
                        </p>
                        <div class="read-more">
                            <button class="btn btn-primary btn-lg">Read More</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <form class="get-involved" [formGroup]="frm">
                            <div class="">
                                <h5 class="text-center">Fill the below if you want to be part of us</h5>
                                <div class="spacer"></div>
                                <div class="row">

                                    <div class="col-sm margin-left col-xs-12">
                                        <div class="response text-center">{{errorResult || successResult}}</div>
                                        <!-- <div class="col-sm"> -->
                                        <div class="form-group">
                                            <label for="fullname">Full Name</label>
                                            <input type="text" autocomplete="name" formControlName="fullName"
                                                class="form-control" id="fullname" aria-describedby="nameHelp"
                                                placeholder="Nazeh Abel">
                                        </div>
                                        <div class="input-errors" *ngIf="
                      (frm.get('fullName').invalid &&
                        frm.get('fullName').touched) ||
                      showInputErrors
                    ">
                                            <div *ngIf="frm.get('fullName').hasError('required')">
                                                Please enter your full Name!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer"></div>
                                <div class="row">
                                    <!-- email field -->
                                    <div class="col-sm col-xs-12 margin-left margin-right">
                                        <div class="form-group">
                                            <label for="email--getinv">Email Address</label>
                                            <input type="email" autocomplete="email" formControlName="email"
                                                class="form-control" id="email--getinv" aria-describedby="emailHelp"
                                                placeholder="Nazehabel@domain.com">
                                        </div>
                                        <!-- throw this error if not valid -->
                                        <div class="input-errors" *ngIf="
                        (frm.get('email').invalid &&
                          frm.get('email').touched) ||
                        showInputErrors
                      ">
                                            <div *ngIf="frm.get('email').hasError('required')">
                                                Please enter your email address!
                                            </div>
                                        </div>
                                    </div>
                                    <!-- mobile field -->
                                    <div class="col-sm margin-right col-xs-12">
                                        <div class="form-group">
                                            <label for="mobile">Phone/Mobile Number</label>
                                            <input type="mobile" autocomplete="mobile" formControlName="mobile"
                                                class="form-control" id="mobile" aria-describedby="mobileHelp"
                                                placeholder="+234812345678">
                                        </div>
                                           <!-- throw this error if not valid or empty -->
                                    <div class="input-errors" *ngIf="
                                    (frm.get('mobile').invalid &&
                                      frm.get('mobile').touched) ||
                                    showInputErrors
                                  ">
                                       <div *ngIf="frm.get('mobile').hasError('required')">
                                           Please enter your mobile number!
                                       </div>
                                   </div>
                                    </div>
                                 
                                </div>
                                <!-- </div> -->
                                <div class="spacer"></div>
                            </div>
                            <div class="spacer"></div>
                            <div class="row">
                                <div class="col-sm margin-left getinvolved-btn margin-right">
                                    <div class="form-group">
                                        <button type="submit" (click)="getInvolved()" class="btn btn-block btn-primary"
                                            [disabled]="isbusy">
                                            <ng-template [ngIf]="!isbusy">Submit</ng-template>
                                            <ng-template [ngIf]="isbusy">Processing Request, please wait...</ng-template>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- section one end -->


        <!-- section two beginging -->
        <section class="container-fluid section-subscription section-row">
            <div class="container subscription">
                <div class="row">

                    <div class="col-md-12 text-center col-xs-12 description-section">

                        <h3>Grow Your Relationship &amp; Walk With God With Our Daily Devotion</h3>

                        <div class="spacer"></div>

                        <p>Subscribe to our Daily Devotional, 'In His Footstep'</p>

                        <div class="spacer"></div>
                        <form class="form-subscription col-md-6 col-xs-12" [formGroup]="subForm">
                                <div class="response text-center">{{successResult || errorResult}}</div>
                            <div class="form-group mx-sm-3 mb-2">
                                <div class="form-group">
                                        <input type="email" autocomplete="email" class="form-control form-control-lg" formControlName="emailsub"
                                        placeholder="Nazehabel@domain.com">
                                </div>           
                                 <!-- throw this error if not valid or empty -->
                                 <div class="input-errors" *ngIf="
                                 (subForm.get('emailsub').invalid &&
                                   subForm.get('emailsub').touched) ||
                                 showInputError
                               ">
                                    <div style="color:#ffae42" *ngIf="subForm.get('emailsub').hasError('required')">
                                        Please enter your email address to subscribe!
                                    </div>
                                </div>                    
                            </div>
                            <div class="spacer"></div>
                                    <div class="form-group">
                                            <button type="submit" (click)="devotionSubscription()" class="btn subscribe btn-primary btn-lg mb-2"
                                                [disabled]="isbusySub">
                                                <ng-template [ngIf]="!isbusySub">SUBSCRIBE</ng-template>
                                                <ng-template [ngIf]="isbusySub">Processing Request, please wait...</ng-template>
                                            </button>
                                        </div>
                                
                        </form>
                    </div>

                    <!-- <div class="col-md-6 col-xs-12 img-section">Section two half</div> -->
                </div>
            </div>
        </section>
        <!-- section two end -->


        <!-- section footer beginging -->
        <section class="container-fluid section-footer section-row">
            <div class="row">

                <div class="col-md-12 col-xs-12 description-section">
                    <div class="h-c-grid__col h-c-grid__col--12 h-c-grid__col--align-middle">
                        <div class="copy-content">
                            <h2 class="h-c-headline h-c-headline--two">Experience our daily devotion on any device</h2>

                            <div class="content__text">
                                <p class="h-c-copy">The ease &amp; simplicity of KSI, wherever you are.</p>
                            </div>

                        </div>

                        <ul class="badges__list">
                            <li class="badges__item">
                                <a href="#" target="_blank" rel="noopener" ga-on="click"
                                    ga-event-category="ab experiment" ga-event-action="mobile app"
                                    ga-event-label="play store">

                                    <img class="badges__badge badges__badge--play"
                                        src="https://lh3.googleusercontent.com/6kdr7g-ziKhTh0iWIXncqJh6Zd8Z-dkntyVV10lni6ZyBC8Q7uzQeY4Xv7EIAH6b0EQkUD6cUrHC8-GCLma-ZJrdNp16cciXoP_N"
                                        alt="Google Play" aria-label="Google Play">

                                </a>
                            </li>
                            <li class="badges__item">
                                <a href="" target="_blank" rel="noopener" ga-on="click"
                                    ga-event-category="ab experiment" ga-event-action="mobile app"
                                    ga-event-label="app store">

                                    <img class="badges__badge badges__badge--app"
                                        src="https://lh3.googleusercontent.com/OBvpNtOKZRZjGFYGsmUrME8yMIjkk1BNQX89gt_lMN2afWCZDvE4SdZhPGXI72vDo-wWqML-8NDy2vU2zY2c6oOktAXZbcwU9ByMBw"
                                        alt="App Store" aria-label="App Store">

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- section footer end -->
        <app-footer></app-footer>
    </main>

</div>